<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header bg-success text-center">
        <span class="text-white ">CLIENT LIST</span>
      </div>
      <div class="card-body">
        @if(isLoader == true) {
        <div class="col-12 text-center">
          <div class="spinner-grow text-secondary" style="width: 3rem; height: 3rem;" role="status"></div>
        </div>
        }@else {
        <table class="table table-bordered text-center">
          <thead>
            <tr>
              <th>ID</th>
              <th>Company Name</th>
              <th>Person Name</th>
              <th>Contact No.</th>
              <th>City</th>
              <th>Action</th>

            </tr>
          </thead>
          <tbody>
            @for (client of clientList; track $index) {
              <tr>
                <td>{{ client.clientId }}</td>
                <td>{{ client.companyName }}</td>
                <td>{{ client.contactPersonName }}</td>
                <td>{{ client.contactNo }}</td>
                <td>{{ client.city}}</td>
                 <td>
                  <button class="btn btn-primary" (click)="onEdit(client)">Edit</button>
                  <button class="btn btn-danger" (click)="onDelete(client.clientId)">Delete</button>
                </td>
              </tr>
            }

          </tbody>
        </table>
        }
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-success">
        <span class="text-white">ADD NEW CLIENT</span>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <label for="">Person Name</label>
            <input type="text" #personName="ngModel" required class="form-control" [(ngModel)]="clientObj.contactPersonName">
            <div class="text-danger">
              @if(personName?.errors?.['required'] && personName?.touched) {
                <span>This is required</span>
              }

            </div>
          </div>
          <div class="col-6">
            <label for="">Contact Number</label>
            <input type="text" class="form-control" [(ngModel)]="clientObj.contactNo">
          </div>
          <div class="col-6">
            <label for="">Company Name</label>
            <input type="text" class="form-control" [(ngModel)]="clientObj.companyName">
          </div>
          <div class="col-6">
            <label for="">City</label>
            <input type="text" class="form-control" [(ngModel)]="clientObj.city">
          </div>
          <div class="col-6">
            <label for="">State</label>
            <input type="text" class="form-control" [(ngModel)]="clientObj.state">
          </div>
          <div class="col-6">
            <label for="">Pincode</label>
            <input type="text" class="form-control" [(ngModel)]="clientObj.pincode">
          </div>
          <div class="col-6">
            <label for="">Address</label>
            <textarea class="form-control" [(ngModel)]="clientObj.address" name="" id=""></textarea>
          </div>
          <div class="col-6">
            <label for="">Employee Strength</label>
            <input type="text" class="form-control" [(ngModel)]="clientObj.employeeStrength">
          </div>
          <div class="col-6">
            <label for="">GstNo</label>
            <input type="text" class="form-control" [(ngModel)]="clientObj.gstNo">
          </div>
          <div class="col-6">
            <label for="">Registration Number</label>
            <input type="text" class="form-control" [(ngModel)]="clientObj.regNo">
          </div>
        </div>
        <div class="row p-2">
          <div class="col-6 text-center">
            <button class="btn btn-secondary">Reset</button>
          </div>
          <div class="col-6 text-center">
           <!--  @if(isLoader == true){
              <button class="btn btn-success">
                <span class="spinner-border spinner-border-sm"></span>
                Loading..
              </button>
            } @else { -->
              <button class="btn btn-success" (click)="onSaveClient()">
                {{clientObj.clientId != 0 ? 'Update Client' : 'Save Client' }}</button>
          <!--   } -->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
